<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
	<link rel="stylesheet" type="text/css" href="../css/background.css"/>
  </head>
  <body> 
  	<nav th:replace="fragments/navbar.html :: navbar"></nav>
    <main class="col-md-8 mx-auto">
      <header class="text-center">
        <h1 class="text-primary text-uppercase my-5 font-weight-bold">Login</h1>
        <h5 class="text-info font-weight-bold">Provide your credentials to login</h5>
      </header>
      <hr class="border-dark" />
      <section>
	      <div class="container-fluid text-center">
	      	<div th:if="${param.error}">
	      	  	<p class="text-danger">Invalid Username or Password</p>
	      	</div>
	      	<div th:if="${param.logout}">
	      	  	<p class="text-warning">You have been logged out</p>
	      	</div>
	      	<!-- with Spring security and custom login page, we do not have to define a controller method for post /login -->
	      	<form th:action="@{/login}" method="post" class="font-weight-bold" style="max-width: 350px; margin: 0 auto;">
	      		<div class="border border-secondary p-3 rounded">
	      			<p>
	      				<label for="username">Username</label><br />
	              		<input type="text" id="username" name="username" class="form-control" autocomplete="off" autofocus required/>
	      			</p>
	      			<p>
	      				<label for="password">Password</label><br />
	              		<input type="password" id="password" name="password" class="form-control" required/>
	      			</p>
	      			<p>
	      				<input type="submit" value="Login" class="btn btn-primary"/>
	      			</p>
	      		</div>
	         </form>
	      </div>
      </section>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- set dropdown from navbar fragment to active -->
    <script type="text/javascript">
    	document.getElementById("profileDropDown").setAttribute("class", "nav-item dropdown active");
    </script>
  </body>
</html>