<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add / Edit Product</title>
	<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- use relative path ../ to properly show images. If not, path 'home/' for example will not show the images for some reason, it would show the image only if hitting '/home' -->
    <link rel="stylesheet" type="text/css" href="../css/background.css"/>
    <style>
    	td a {
		    display:block;
		    width:100%;
		}
    </style>
  </head>
  <body> 
  	<nav th:replace="fragments/navbar.html :: navbar"></nav>
    <main class="col-md-8 mx-auto">
      <header class="text-center">
        <h1 class="text-primary text-uppercase my-5 font-weight-bold">Add / Edit Product</h1>
        <h5 class="text-info font-weight-bold">Please fill in all fields to add a new Product</h5>
      </header>
      <hr class="border-dark" />
      <section>
      	<form th:action="@{/admin/addProduct}" th:object="${productCategoryModel}" method="post" enctype="multipart/form-data">
			Description: <input type="text" th:field="*{productDescription}" class="form-control col-4 mb-4">
			Price in $: <input type="number" step="any" th:field="*{productPrice}" class="form-control col-4 mb-4">
			<label for="categoryText">Category :</label>
			<select name="categoryText" id="categoryText" th:field="*{categoryId}" class="form-control col-4 mb-4">
				<option th:each="categoryModel: ${categoryModelList}" th:value="${categoryModel.categoryId}" th:text="${categoryModel.categoryText}" th:if="${categoryModel.categoryText == productCategoryModel.categoryText}" selected/>
				<option th:each="categoryModel: ${categoryModelList}" th:value="${categoryModel.categoryId}" th:text="${categoryModel.categoryText}" th:unless="${categoryModel.categoryText == productCategoryModel.categoryText}"/>
			</select>
			
			Image :<input type="file" name="file" class="form-control-file col-4 mb-4" accept="image/*">
			
			<div class="form-check form-check-inline">
                <input type="radio" th:field="*{enabled}" value="true" id="enabled" />
                <label for="enabled" class="form-check-label">Enabled</label>
             </div>
             <div class="form-check form-check-inline">
                <input type="radio" th:field="*{enabled}" value="false" id="disabled" />
                <label for="disabled" class="form-check-label">Disabled</label>
             </div>
			
			<button class="btn btn-primary" type="submit">Save</button>
			<input type="hidden" th:field="*{productId}">
		</form><br><br>
		<div class="row mt-5">
            <div class="col">
            	<a th:href="@{/admin}">
            		Go back to Admin page
            	</a>
            </div>
        </div><br><br>
      </section>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- set home link from navbar fragment to active -->
    <script type="text/javascript">
    	document.getElementById("homeLink").setAttribute("class", "nav-item active");
    </script>
  </body>
</html>