<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- slide show -->
    <link rel="stylesheet" type="text/css" href="../css/slider-show.css"/>
	<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- use relative path ../ to properly show images. If not, path 'home/' for example will not show the images for some reason, it would show the image only if hitting '/home' -->
    <link rel="stylesheet" type="text/css" href="../css/background.css"/>
    
  </head>
  <body> 
  	<nav th:replace="fragments/navbar.html :: navbar"></nav>
    <main class="col-md-8 mx-auto">
      <header class="text-center">
        <h1 class="text-primary text-uppercase my-5 font-weight-bold">Home</h1>
        <h5 class="text-info font-weight-bold">Have fun with using our Shop!</h5>
      </header>
      <hr class="border-dark" />
      <section>
      	<h3 class="my-5 font-weight-bold text-center"><u>Use the navigation bar for further actions!</u></h3>
      	<br><br>
      </section>
      <section>
      	 <!-- Slideshow container -->
		<div class="slideshow-container">
		<!-- slide 1 -->
		  <div class="mySlides fade">
		  	<h4 class="text-info font-weight-bold text-center">Top 5 Sellers</h4>
	    	<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Product Id</th>
						<th>Category</th>
						<th>Product Description</th>
						<th>Price in $</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product: ${productList}">
						<td><img th:src="${product.productImgSource}" alt="productImg" width="50" height="50"></td>
						<td th:text="${product.productId}"></td>
						<td th:text="${product.categoryText}"></td>
						<td th:text="${product.productDescription}"></td>
						<td th:text="${product.productPrice}"></td>
					</tr>
				</tbody>
			</table>
		  </div>
		
		<!-- slide 2 -->
		  <div class="mySlides fade">
		  	<h4 class="text-info font-weight-bold text-center">Newest Product</h4>
	    	<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Product Id</th>
						<th>Category</th>
						<th>Product Description</th>
						<th>Price in $</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product: ${productListNewest}">
						<td><img th:src="${product.productImgSource}" alt="productImg" width="50" height="50"></td>
						<td th:text="${product.productId}"></td>
						<td th:text="${product.categoryText}"></td>
						<td th:text="${product.productDescription}"></td>
						<td th:text="${product.productPrice}"></td>
					</tr>
				</tbody>
			</table>
		  </div>
		  
		  <!-- slide 3 -->
			<div class="mySlides fade slide3">
		  		<img src="../img/other/background.jpg" style="width:100%">
		  	</div>
		  <!-- Next and previous buttons -->
		  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		  <a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<br>
		
		<!-- The dots/circles -->
		<div style="text-align:center">
		  <span class="dot" onclick="currentSlide(1)"></span>
		  <span class="dot" onclick="currentSlide(2)"></span>
		  <span class="dot" onclick="currentSlide(3)"></span>
		</div> 
		<br><br><br><br>
      </section>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- set home link from navbar fragment to active -->
    <script type="text/javascript">
    	document.getElementById("homeLink").setAttribute("class", "nav-item active");
    </script>
    <!-- script for slider show -->
    <script>
		let slideIndex = 1;
		showSlides(slideIndex);
		
		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}
		
		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}
		
		function showSlides(n) {
		  let i;
		  let slides = document.getElementsByClassName("mySlides");
		  let dots = document.getElementsByClassName("dot");
		  if (n > slides.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
		    slides[i].style.display = "none";  
		  }
		  for (i = 0; i < dots.length; i++) {
		    dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block";  
		  dots[slideIndex-1].className += " active";
		}
	</script>
  </body>
</html>