<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
	<link rel="stylesheet" type="text/css" href="../css/background.css"/>
  </head>
  <body> 
  	<nav th:replace="fragments/navbar.html :: navbar"></nav>
    <main class="col-md-8 mx-auto">
      <header class="text-center">
        <h1 class="text-primary text-uppercase my-5 font-weight-bold">Registration</h1>
        <h5 class="text-info font-weight-bold">Please fill in all fields</h5>
      </header>
      <hr class="border-dark" />
      <section>
	       	<form th:action="@{/registerConfirmation}" th:object="${userModel}" method="post" onsubmit="return validateFormInputs()">
	       		Username: <input type="text" id="username" th:field="*{username}" placeholder="Enter Username" class="form-control col-4 mb-4" autocomplete="off" required autofocus>
	       		
	       		Email: <input type="text" th:field="*{email}" placeholder="Enter Email" class="form-control col-4 mb-4" autocomplete="off" required>
	       		<small id="emailHelp" name="emailHelp" class="form-text text-danger"></small>
	       		
				Firstname: <input type="text" th:field="*{firstName}" placeholder="Enter Firstname" class="form-control col-4 mb-4" autocomplete="off" required>
				Lastname: <input type="text" th:field="*{lastName}" placeholder="Enter Lastname" class="form-control col-4 mb-4" autocomplete="off" required>
				
				Password: <input type="password" th:field="*{password}" placeholder="Enter Password" class="form-control col-4 mb-4" autocomplete="off">
				<div id="messagePassword">
                    <small><b>Password must contain the following:</b></small><br>
                    <small id="letter" class="text-danger">At least one <b>lowercase</b> letter</small><br>
                    <small id="capital" class="text-danger">At least one <b>uppercase</b> letter</small><br>
                    <small id="number" class="text-danger">At least one <b>number</b></small><br>
                    <small id="length" class="text-danger">Minimum <b>8 characters</b></small>
                </div>
				
				<button class="btn btn-primary mt-5" type="submit" id="submitRegistration">Register</button>
				<!--<input type="hidden" th:field="*{id}">-->
			</form>
		<hr/>
		<a th:href="@{/}">Back to Home</a>
      </section>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="js/email-and-pw-validation.js"></script>
    <!-- set dropdown from navbar fragment to active -->
    <script type="text/javascript">
    	document.getElementById("profileDropDown").setAttribute("class", "nav-item dropdown active");
    </script>
    
  </body>
</html>